.menu span {
    color: var(--color-menu-violet);
}

.menu li.active {
    color: var(--menu-active);
}

.menu li {
    color: var(--menu-inactive);
    cursor: pointer;
}

#header.active {
    backdrop-filter: blur(5px);
    background: rgba(255, 255, 255, .1);
}