@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg-color: #282C33;
  --color-menu-violet: #C778DD;
  --menu-active: #fff;
  --menu-inactive: #ABB2BF;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Fira Code', monospace;
}

body {
  background-color: var(--bg-color);
}

#root {
  display: flex;
  justify-content: center;
}